<%- include("./header.ejs"); %>
<div class="row">
  <div class="side_bar">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav>
  </div>
  <div class="main_content">
    <div class="dashboard">
      <h1>Silent Designer</h1>
    </div>
  </div>
</div>

